html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
}

a, a:hover, a:active {
  color: #000;
  text-decoration: none;
}

header {
  background: #fff;
  height: 100px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 1px 1px 3px #ccc;
}
header .logo {
  display: block;
  width: 235px;
  height: 40px;
  padding-top: 33px;
}
header .logo img {
  width: 100%;
  height: auto;
}
header p {
  font-size: 22px;
  text-align: center;
  line-height: 100px;
}
header .col-menu {
  text-align: right;
  position: relative;
}
header .header-menu {
  font-size: 30px;
  font-weight: 600;
  line-height: 100px;
}
header .header-menu i {
  margin-left: 20px;
  vertical-align: -5px;
  font-size: 30px;
  cursor: pointer;
  transition: .3s;
}
header .header-menu i:hover {
  color: #707070;
}
header .main-menu {
  position: absolute;
  width: 300px;
  right: 0;
  top: 100px;
  background: #fff;
  border-radius: 5px;
  transform: translate3d(110%, 0, 0);
  transition: 1s;
  box-shadow: -3px 3px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
}
header .main-menu.visible-menu {
  transform: translate3d(-14%, 0, 0);
}
header .main-menu ul {
  text-align: center;
}
header .main-menu ul li {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
  transition: .5s;
}
header .main-menu ul li:last-of-type {
  border: none;
}
header .main-menu ul li:hover a {
  color: #f92320;
}
header .main-menu ul a {
  font-size: 18px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  header {
    padding: 0;
  }
  header .logo {
    width: 200px;
    padding-top: 37px;
  }
  header p {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  header {
    height: 80px;
  }
  header .header-menu {
    line-height: 80px;
    font-size: 23px;
  }
  header .header-menu i {
    font-size: 26px;
    margin-left: 10px;
  }
  header .logo {
    width: 170px;
    padding-top: 30px;
  }
  header .main-menu {
    width: 100%;
    height: calc(100vh - 80px);
    top: 80px;
  }
  header .main-menu.visible-menu {
    transform: translate3d(0, 0, 0);
    top: 80px;
  }
  header .main-menu ul li:last-of-type {
    border-bottom: 1px solid #ccc;
  }
}
@media (max-width: 320px) {
  header .logo {
    width: 145px;
    padding-top: 31px;
  }
}

.btn_call {
  width: 200px;
  height: 44px;
  height: 70px;
  display: block;
  position: fixed;
  z-index: 10000;
  right: -150px;
  top: 126px;
  font-size: 16px;
  color: #fff;
  line-height: 44px;
  padding-left: 15px;
  border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  -khtml-border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px 0px 0px 20px;
  /*border-radius: 45px 0px 0px 45px;*/
  /*-moz-border-radius: 45px 0px 0px 45px;*/
  /*-khtml-border-radius: 45px 0px 0px 45px;*/
  /*-webkit-border-radius: 45px 0px 0px 45px;*/
  background: #CE2D2D;
  /*background: #f92320;*/
  transition: .5s;
}
.btn_call .span {
  position: relative;
  height: 44px;
  display: block;
  font-weight: 300;
  line-height: 1.8em;
}
.btn_call em {
  display: none;
}
.btn_call .small {
  width: 26px;
  height: 44px;
  position: absolute;
  top: 0;
  z-index: 1000;
  cursor: pointer;
}
.btn_call .small p {
  font-size: 12px;
  margin: -17px -6px 0px;
  padding: 0px;
  width: 40px;
  text-align: center;
  line-height: 11px;
  font-size: 11px;
}
.btn_call.active_btn {
  right: 0px;
  height: 360px;
  width: 240px;
}
.btn_call.active_btn .span {
  height: 35px;
  width: 240px;
}
.btn_call.active_btn .btn_info {
  display: block;
  opacity: 1;
  right: 20px;
  top: 15px;
}
.btn_call.active_btn .small {
  display: none;
}
.btn_call.active_btn em {
  display: block;
  width: 26px;
  height: 44px;
  position: absolute;
  top: 0;
  z-index: 1000;
}
.btn_call .btn_info {
  position: absolute;
  display: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  right: -175px;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
  padding-left: 30px;
  padding-top: 10px;
}
.btn_call .btn_info p, .btn_call .btn_info a {
  line-height: 1.2;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  text-align: left;
  margin-bottom: 5px;
}
.btn_call .btn_info p.descr-btn {
  font-weight: 400;
  font-size: 13px;
  margin: 15px 0 20px 0;
}
.btn_call .btn_info input {
  width: 160px;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-left: 15px;
  color: #000;
  font-size: 12px;
}
.btn_call .btn_info input[type="submit"] {
  width: 90px;
  background: #000;
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
  padding: 0;
  color: #fff;
}
.btn_call .btn_info ::-webkit-input-placeholder {
  color: #707070;
  font-size: 12px;
}
.btn_call .btn_info :-moz-placeholder {
  /* Firefox 18- */
  color: #707070;
  font-size: 12px;
}
.btn_call .btn_info ::-moz-placeholder {
  /* Firefox 19+ */
  color: #707070;
  font-size: 12px;
}
.btn_call .btn_info :-ms-input-placeholder {
  color: #707070;
  font-size: 12px;
}
@media (max-width: 480px) {
  .btn_call {
    display: none;
  }
}

.fs-slider .title-container {
  position: relative;
  width: 50%;
  left: 17%;
  top: 45%;
  padding: 10px 20px;
  font-size: 29px;
  color: #fff;
  text-align: left;
}
.fs-slider .title-container i.trade-sign {
  display: inline-block;
  width: 100px;
  height: 120px;
  text-shadow: none;
  margin-right: 40px;
  vertical-align: middle;
  background: transparent url("../img/logo-2-1.png") no-repeat;
  background-size: cover;
}
.fs-slider .title-container h2 {
  font-size: 2.5em;
  text-shadow: 1px 1px 1px #000;
  vertical-align: middle;
}
.fs-slider .title-container p {
  text-shadow: 1px 1px 1px #000;
  padding-left: 140px;
}
@media (max-width: 1199px) {
  .fs-slider .title-container {
    font-size: 25px;
    width: 70%;
  }
  .fs-slider .title-container i.trade-sign {
    width: 80px;
    height: 95px;
  }
  .fs-slider .title-container h2 {
    font-size: 2.5em;
  }
  .fs-slider .title-container p {
    padding-left: 123px;
  }
}
@media (max-width: 991px) {
  .fs-slider .title-container {
    font-size: 23px;
    width: 80%;
    left: 9%;
  }
  .fs-slider .title-container p {
    padding-left: 123px;
  }
}
@media (max-width: 768px) {
  .fs-slider .title-container {
    font-size: 20px;
    width: 90%;
    left: 5%;
  }
  .fs-slider .title-container p {
    padding-left: 100px;
  }
  .fs-slider .title-container i.trade-sign {
    width: 65px;
    height: 78px;
    margin-right: 30px;
  }
}
@media (max-width: 650px) {
  .fs-slider .title-container {
    font-size: 18px;
    width: 95%;
    left: 15px;
  }
  .fs-slider .title-container p {
    padding-left: 70px;
  }
  .fs-slider .title-container i.trade-sign {
    width: 50px;
    height: 59px;
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  .fs-slider .title-container {
    font-size: 16px;
  }
  .fs-slider .title-container h2 {
    font-size: 2em;
  }
  .fs-slider .title-container i.trade-sign {
    width: 40px;
    height: 48px;
    margin-right: 15px;
  }
  .fs-slider .title-container p {
    padding-left: 55px;
  }
}

section.tjenester .tj-title {
  font-size: 35px;
  text-align: center;
  margin: 40px 0;
}
section.tjenester .t-container .tj-item {
  width: 31%;
  display: inline-block;
  margin-right: 35px;
  vertical-align: top;
  margin-bottom: 70px;
  min-height: 60px;
}
section.tjenester .t-container .tj-item:nth-of-type(3n) {
  margin-right: 0;
}
section.tjenester .t-container .tj-item p.tj-icon {
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 20px;
  margin-bottom: 15px;
}
section.tjenester .t-container .tj-item p.tj-icon i {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 60px;
  background: url("../img/logo-2-1.png") no-repeat;
  background-size: cover;
  margin-right: 10px;
}

section.tjenester .t-container .tj-item p.tj-icon i:hover{
  transform: scale(1.1);
}

section.tjenester .t-container .tj-item p {
  font-size: 20px;
  line-height: 1.5;
}
section.tjenester .t-container .tj-item a {
  display: inline-block;
  font-size: 20px;
  margin-top: 30px;
  transition: .3s;
}
section.tjenester .t-container .tj-item a:hover {
  color: #707070;
}
@media (max-width: 1199px) {
  section.tjenester .t-container .tj-item {
    margin-right: 25px;
  }
}
@media (max-width: 991px) {
  section.tjenester .tj-title {
    font-size: 30px;
  }
  section.tjenester .t-container .tj-item {
    margin-right: 20px;
    margin-bottom: 35px;
  }
  section.tjenester .t-container .tj-item p {
    font-size: 19px;
    line-height: 1.3;
  }
  section.tjenester .t-container .tj-item a {
    font-size: 19px;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  section.tjenester .tj-title {
    font-size: 25px;
  }
  section.tjenester .t-container .tj-item {
    width: 28%;
  }
  section.tjenester .t-container .tj-item p {
    font-size: 17px;
  }
  section.tjenester .t-container .tj-item a {
    font-size: 17px;
  }
  section.tjenester .t-container .tj-item p.tj-icon i {
    width: 45px;
    height: 54px;
  }
}
@media (max-width: 650px) {
  section.tjenester .t-container .tj-item {
    width: 43%;
    margin-right: 20px;
  }
  section.tjenester .t-container .tj-item:nth-of-type(2n) {
    margin-right: 0;
  }
  section.tjenester .t-container .tj-item:nth-of-type(3n) {
    margin-right: 20px;
  }
  section.tjenester .tj-title {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  section.tjenester .t-container .tj-item {
    margin-bottom: 20px;
  }
  section.tjenester .t-container .tj-item a, section.tjenester .t-container .tj-item p {
    font-size: 16px;
    line-height: 1.2;
  }
  section.tjenester .t-container .tj-item p.tj-icon i {
    width: 35px;
    height: 42px;
  }
  section.tjenester .tj-title {
    font-size: 20px;
    margin: 30px 0;
  }
}
@media (max-width: 375px) {
  section.tjenester .t-container .tj-item {
    width: 90%;
  }
}

section.support {
  padding: 70px 0;
  background: #eee;
}
section.support .s-title {
  text-align: center;
}
section.support .s-title a {
  display: inline-block;
}
section.support .sup-column {
  text-align: left;
  padding: 0 30px;
}
section.support .support-item {
  display: inline-block;
  width: 80%;
  margin-top: 50px;
}
section.support .support-item p.service-name {
  font-size: 25px;
  font-weight: 600;
}
section.support .support-item p {
  font-size: 16px;
  line-height: 1.5;
}
section.support .support-item .button {
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 26px;
  border-radius: 10px;
  color: #fff;
  margin-top: 15px;
}
section.support .support-item .button.tlf {
  background: #666;
}

section.support .support-item .button.tlf:hover{
  opacity: 0.8;
 }
section.support .support-item .button.mail {
  background: #CE2D2D;
  /*background: #f92320;*/
}
section.support .support-item .button.mail:hover{
  opacity: 0.8;
}
@media (max-width: 991px) {
  section.support .support-item {
    width: 100%;
  }
  section.support .support-item .button {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  section.support .support-item .button {
    font-size: 21px;
  }
  section.support .support-item p {
    min-height: 96px;
  }
  section.support .support-item p.service-name {
    font-size: 23px;
    min-height: 1px;
  }
  section.support .sup-column {
    padding: 0 15px;
  }
}
@media (max-width: 650px) {
  section.support .support-item .button {
    font-size: 18px;
  }
  section.support .support-item p {
    font-size: 16px;
    line-height: 1.2;
  }
  section.support .support-item p.service-name {
    font-size: 21px;
    min-height: 1px;
  }
}
@media (max-width: 480px) {
  section.support {
    padding: 50px 0;
  }
  section.support .sup-column {
    width: 100%;
  }
  section.support .support-item {
    margin-top: 30px;
  }
  section.support .support-item p {
    min-height: 1px;
  }
  section.support .support-item p.service-name {
    text-align: center;
  }
  section.support .s-title a {
    width: 170px;
  }
  section.support .s-title a img {
    width: 100%;
    height: auto;
  }
}

footer {
  padding: 40px 0;
}
footer .foot-column h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
footer .foot-column p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #707070;
}
footer .foot-column p b {
  font-weight: 600;
}
footer .foot-column a {
  color: #707070;
  font-size: 16px;
}
footer .foot-column a:hover {
  color: #333;
}
footer .foot-column ul.social li {
  display: inline-block;
  margin-right: 10px;
}
footer .foot-column ul.social li a {
  font-size: 50px;
  color: #000;
  transition: .3s;
}
footer .foot-column ul.social li a:hover {
  color: #f92320;
}
@media (max-width: 768px) {
  footer .foot-column ul.social li a {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 10px 0 20px 0;
  }
  footer .foot-column {
    width: 100%;
  }
  footer .foot-column h4 {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  footer .foot-column p {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

section.f-baner {
  background: #CE2D2D;
  /*background: #f92320;*/
  height: 50px;
}
section.f-baner p {
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

/*OM OSS*/
section.fullw-baner {
  margin-top: 100px;
}
section.fullw-baner .img-container {
  width: 100%;
  height: 755px;
  background-size: cover;
}
@media (max-width: 768px) {
  section.fullw-baner .img-container {
    height: 545px;
  }
}
@media (max-width: 480px) {
  section.fullw-baner {
    margin-top: 80px;
  }
  section.fullw-baner .img-container {
    height: 450px;
  }
}

section.st-content {
  padding: 40px 0;
}
section.st-content .content-title {
  font-size: 36px;
  text-align: center;
  margin: 0 0 40px 0;
}
section.st-content .content-subtitle {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 20px;
}
section.st-content .content-text {
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 768px) {
  section.st-content .content-subtitle {
    font-size: 22px;
    line-height: 1.2;
  }
}
@media (max-width: 480px) {
  section.st-content .content-title {
    font-size: 30px;
    margin: 30px 0;
  }
  section.st-content .content-subtitle {
    font-size: 19px;
  }
}

.youtube-wrapper {
  margin-top: 20px;
}
.youtube-wrapper .modal-button {
  display: block;
  width: 480px;
  height: 270px;
  overflow: hidden;
  float: right;
  margin: 0 0 20px 20px;
  cursor: pointer;
}
.youtube-wrapper .modal-button img {
  width: 100%;
  height: auto;
}
.youtube-wrapper .modal-header {
  padding: 0;
  border: none;
}
.youtube-wrapper .modal-header .close {
  margin: 5px;
}
@media (max-width: 768px) {
  .youtube-wrapper .modal-button {
    width: 400px;
    height: 225px;
  }
}
@media (max-width: 480px) {
  .youtube-wrapper .modal-button {
    width: 95%;
    height: 185px;
    margin: 20px auto;
    float: none;
  }
}

section.location .gmap {
  width: 100%;
  height: 410px;
}
@media (max-width: 480px) {
  section.location .gmap {
    height: 300px;
  }
}

/*end OM OSS*/
/*SUPPORT*/
.boxes {
  margin: 50px 0 20px 0;
}
.boxes .box-item {
  display: inline-block;
  width: 30%;
  margin-right: 20px;
  vertical-align: top;
  margin-bottom: 40px;
}
.boxes .box-item:nth-of-type(3n) {
  margin-right: 0;
}
.boxes .box-item .icon-cont {
  display: block;
  float: left;
  width: 54px;
  height: 59px;
  background: url("../img/box-icon-1.png") no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.boxes .box-item .icon-cont:hover{
  transform: scale(1.1);
}

.boxes .box-item .title-cont {
  float: left;
}
.boxes .box-item .title-cont p, .boxes .box-item .title-cont a {
  font-size: 16px;
  line-height: 1.2;
}
.boxes .box-item .title-cont a {
  transition: .3s;
}
.boxes .box-item .title-cont a:hover {
  color: #707070;
  text-decoration: underline;
}
.boxes .box-item .title-cont .b-heading {
  font-weight: 600;
}
@media (max-width: 768px) {
  .boxes .box-item {
    width: 46%;
  }
  .boxes .box-item:nth-of-type(3n) {
    margin-right: 20px;
  }
  .boxes .box-item:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media (max-width: 520px) {
  .boxes .box-item .icon-cont {
    width: 45px;
    height: 49px;
  }
}
@media (max-width: 520px) {
  .boxes .box-item {
    width: 100%;
    margin-right: 0;
  }
  .boxes .box-item .title-cont p, .boxes .box-item .title-cont a {
    font-size: 14px;
  }
}

section.contact-form {
  background: url("../img/contact-bg.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}
section.contact-form .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 0;
}
section.contact-form form {
  width: 80%;
  margin: 0 auto;
}
section.contact-form p {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
}
section.contact-form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  height: 150px;
  padding: 10px 0 0 15px;
  font-size: 14px;
}
section.contact-form span {
  display: inline-block;
  width: 48%;
  margin-bottom: 20px;
}
section.contact-form span:nth-of-type(1) {
  margin-right: 32px;
}
section.contact-form input {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  height: 35px;
  padding: 5px 0 0 15px;
  font-size: 14px;
}
section.contact-form label {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}
section.contact-form input.send-button {
  display: block;
  font-size: 19px;
  width: 90px;
  height: 90px;
  margin: 40px auto;
  text-align: center;
  font-weight: 700;
  color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #fff;
  transition: .3s all ease-in;
  text-transform: uppercase;
  padding: 0;
}
section.contact-form input.send-button:hover {
  color: #fff;
  background-color: transparent;
}
@media (max-width: 1199px) {
  section.contact-form span:nth-of-type(1) {
    margin-right: 25px;
  }
}
@media (max-width: 991px) {
  section.contact-form form {
    width: 100%;
  }
}
@media (max-width: 768px) {
  section.contact-form form {
    width: 480px;
  }
  section.contact-form span:nth-of-type(1) {
    margin-right: 15px;
  }
}
@media (max-width: 520px) {
  section.contact-form form {
    width: 100%;
  }
  section.contact-form span {
    width: 100%;
  }
  section.contact-form input.send-button {
    width: 80px;
    height: 80px;
  }
}

/*Quote page*/
.blockquote {
  padding: 30px 0 70px 0;
  background: #eee;
}
.blockquote .bl-img {
  display: block;
  width: 96px;
  height: 72px;
  margin: 30px auto;
  background: url("../img/quote.png") no-repeat;
  background-size: cover;
}
.blockquote p {
  font-size: 22px;
  line-height: 1.8;
  text-align: center;
}
@media (max-width: 480px) {
  .blockquote p {
    line-height: 1.3;
    font-size: 20px;
  }
  .blockquote .bl-img {
    width: 70px;
    height: 52px;
  }
}
