

@import "compass/reset";
@import "bourbon/bourbon";
@import "breakpoint";

body{
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 400;
	overflow-x: hidden;
}
a,a:hover,a:active{
	color:#000;
	text-decoration: none;
}
$mainCol: #f92320;
$greyCol:#707070;

$large-width: max-width 1199px;
$medium-width: max-width 991px;
$tablet-width: max-width 768px;
$interim-width-650: max-width 650px;
$interim-width-520: max-width 520px;
$interim-width-480: max-width 480px;
$interim-width-375: max-width 375px;
$mobile-width: max-width 360px;
$minimal-width: max-width 320px;

  //   @include breakpoint($medium-width){
		// background: url("../img/header-img.png") no-repeat 190% 0%;
  //   }

header{
	background: #fff;
	height: 100px;
	padding: 0 20px;
	// position: absolute;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	box-shadow: 1px 1px 3px #ccc;
	.logo{
		display: block;
		width: 235px;
		height: 40px;
		padding-top: 33px;
		img{
			width: 100%;
			height:auto;
		}
	}
	p{
		font-size: 22px;
		text-align: center;
		line-height: 100px;
	}
	.col-menu{
		text-align: right;
		position:relative;
	}
	.header-menu{
		font-size: 30px;
		font-weight: 600;
		line-height: 100px;
		i{
			margin-left: 20px;
			vertical-align: -5px;
			font-size: 30px;
			cursor:pointer;
			transition:.3s;
			&:hover{
				color:$greyCol;
			}
		}
	}
	.main-menu{
		position:absolute;
		width: 300px;
		right:0;
		top:100px;
		background: #fff;
		border-radius:5px;
		transform:translate3d(110%,0,0);
		transition:1s;
		box-shadow: -3px 3px 2px rgba(0,0,0,.5);			
		border:1px solid #ccc;

		&.visible-menu{
			transform:translate3d(-14%,0,0);
		}
		ul{
			text-align: center;
			li{
				padding: 20px 0;
				border-bottom: 1px solid #ccc;
				font-weight: 600;
				transition:.5s;
				&:last-of-type{
					border:none;
				}
				&:hover{
					a{
						color:$mainCol;
					}
				}
			}
			a{
				font-size: 18px;
				text-transform: uppercase;
			}
		}
	}
	@include breakpoint($medium-width){
		padding: 0;
		.logo{
			width: 200px;
			padding-top: 37px;
		}
		p{
			font-size: 20px;
		}
	}
	@include breakpoint($interim-width-480){
		height: 80px;
		.header-menu{
			line-height: 80px;
			font-size: 23px;
			i{
				font-size: 26px;
				margin-left: 10px;
			}
		}
		.logo{
			width: 170px;
			padding-top: 30px;
		}
		.main-menu{
			width:100%;
			height:calc(100vh - 80px);
			top:80px;
			&.visible-menu{
				transform:translate3d(0,0,0);
				top:80px;
			}
			ul{
				li{
					&:last-of-type{
						border-bottom: 1px solid #ccc;
					}
				}
			}
		}		
	}
	@include breakpoint($minimal-width){
		.logo{
			width: 145px;
			padding-top: 31px;
		}
	}
}

.btn_call{
	width: 200px;
	height: 44px;
	height: 70px;
	display: block;
	position: fixed;
	z-index: 10000;
	right: -150px;
	top: 126px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	padding-left: 15px;
	border-radius: 45px 0px 0px 45px;
	-moz-border-radius: 45px 0px 0px 45px;
	-khtml-border-radius: 45px 0px 0px 45px;
	-webkit-border-radius: 45px 0px 0px 45px;
	background: $mainCol;
	transition: .5s;
	.span{
		position: relative;
		height: 44px;
		display: block;
		font-weight: 300;
		line-height: 1.8em;
	}
	em{
		display: none;
	}
	.small{
		width: 26px;
		height: 44px;
		position: absolute;
		top: 0;
		z-index: 1000;
		cursor:pointer;
		p{
			font-size: 12px;
			margin: -17px -6px 0px;
			padding: 0px;
			width: 40px;
			text-align: center;
			line-height: 11px;
			font-size: 11px;
		}
	}
	&.active_btn{
		right: 0px;
		height: 360px;
		width: 240px;
		.span{
			height: 35px;
			width: 240px;
		}
		.btn_info{
			display: block;
			opacity: 1;
			right: 20px;
			top: 15px;
		}
		.small{
			display: none;
		}
		em{
			display: block;
			width: 26px;
			height: 44px;
			position: absolute;
			top: 0;
			z-index: 1000;
		}		
	}
	.btn_info{
		position: absolute;
		display: none;
		-o-transition: .5s;
		-ms-transition: .5s;
		-moz-transition: .5s;
		-webkit-transition: .5s;
		transition: .5s;
		opacity: 0;
		right: -175px;
		-webkit-animation-delay: 4s;
		-moz-animation-delay: 4s;
		-o-animation-delay: 4s;
		-ms-animation-delay: 4s;
		animation-delay: 4s;
		padding-left: 30px;
		padding-top: 10px;
		p,a{
			line-height: 1.2;
			font-size: 17px;
			color:#fff;
			font-weight: 600;
			text-align: left;
			margin-bottom: 5px;
		}
		p.descr-btn{
			font-weight: 400;
			font-size: 13px;
			margin: 15px 0 20px 0;
		}
		input{
			width: 160px;
			height: 30px;
			border:none;
			border-radius:3px;
			margin-bottom: 10px;
			padding-left: 15px;
			color:#000;
			font-size: 12px;
		}
		input[type="submit"]{
			width: 90px;
			background: #000;
			font-size: 11px;
			text-align: center;
			margin-top: 15px;
			padding: 0;
			color:#fff;
		}
		::-webkit-input-placeholder {
		   color: $greyCol;
		   font-size: 12px;
		}
		:-moz-placeholder { /* Firefox 18- */
		   color: $greyCol;
		   font-size: 12px;  
		}
		::-moz-placeholder {  /* Firefox 19+ */
		   color: $greyCol;
		   font-size: 12px;  
		}
		:-ms-input-placeholder {  
		   color: $greyCol;
		   font-size: 12px;  
		}		
	}
	@include breakpoint($interim-width-480){
		display: none;
	}	
}

.fs-slider{
	.title-container{
		position: relative;
		width: 50%;
		left: 17%;
		top: 45%;
		padding: 10px 20px;
		font-size: 29px;
		color:#fff;
		text-align: left;
		i.trade-sign{
			display:inline-block;
			width: 100px;
			height: 120px;
			text-shadow:none;
			margin-right: 40px;
			vertical-align: middle;
			background: transparent url('../img/logo-2-1.png') no-repeat;
			background-size: cover;
		}
		h2{
			font-size: 2.5em;
			text-shadow:1px 1px 1px #000;
			vertical-align: middle;
		}
		p{
			text-shadow:1px 1px 1px #000;
			padding-left: 140px;
		}
	}
	@include breakpoint($large-width){
		.title-container{
				font-size: 25px;
				width: 70%;
			i.trade-sign{
				width: 80px;
				height: 95px;
			}
			h2{
				font-size: 2.5em;
			}
			p{
				padding-left: 123px;
			}
		}
	}
	@include breakpoint($medium-width){
		.title-container{
				font-size: 23px;
				width: 80%;
				left:9%;
			p{
				padding-left: 123px;
			}
		
		}		
	}
	@include breakpoint($tablet-width){
		.title-container{
				font-size: 20px;
				width: 90%;
				left:5%;
			p{
				padding-left: 100px;
			}			
			i.trade-sign{
				width: 65px;
				height: 78px;
				margin-right: 30px;
			}
		}		
	}
	@include breakpoint($interim-width-650){
		.title-container{
				font-size: 18px;
				width: 95%;
				left:15px;
			p{
				padding-left: 70px;
			}			
			i.trade-sign{
				width:50px;
				height: 59px;
				margin-right: 20px;
			}
		}		
	}
	@include breakpoint($interim-width-480){
		.title-container{
			font-size: 16px;
			h2{
				font-size: 2em;
			}
			i.trade-sign{
				width: 40px;
				height: 48px;
				margin-right: 15px;
			}
			p{
				padding-left: 55px;
			}
		}
	}
}

section.tjenester{
	.tj-title{
		font-size: 35px;
		text-align: center;
		margin: 40px 0;
	}
	.t-container{
		.tj-item{
			width: 31%;
			display:inline-block;
			margin-right: 35px;
			vertical-align: top;
			margin-bottom: 70px;
			min-height: 60px;
			&:nth-of-type(3n){
				margin-right: 0;
			}
			p.tj-icon{
				font-weight: 700;
				text-transform: uppercase;
				vertical-align: middle;
				font-size: 20px;
				margin-bottom: 15px;
				i{
					display:inline-block;
					vertical-align: middle;
					width: 50px;
					height: 60px;
					background: url('../img/logo-2-1.png') no-repeat;
					background-size: cover;
					margin-right: 10px;
				}				
			}
			p{
				font-size: 20px;
				line-height: 1.5;
			}
			a{
				display:inline-block;
				font-size: 20px;
				margin-top: 30px;
				transition:.3s;
				&:hover{
					color:$greyCol;
				}
			}
		}
	}
	@include breakpoint($large-width){
		.t-container{
			.tj-item{
				margin-right: 25px;
			}
		}
	}
	@include breakpoint($medium-width){
		.tj-title{
			font-size: 30px;
		}
		.t-container{
			.tj-item{
				margin-right: 20px;
				margin-bottom: 35px;
				p{
					font-size: 19px;
					line-height: 1.3;
				}
				a{
					font-size: 19px;
					margin-top: 20px;
				}
			}
		}		
	}
	@include breakpoint($tablet-width){
		.tj-title{
			font-size: 25px;
		}	
		.t-container{
			.tj-item{
				width: 28%;
				p{
					font-size: 17px;
				}
				a{
					font-size: 17px;
				}
				p.tj-icon{
					i{
						width: 45px;
						height: 54px;
					}
				}
			}
		}				
	}
	@include breakpoint($interim-width-650){
		.t-container{
			.tj-item{
				width: 43%;
				margin-right: 20px;
				&:nth-of-type(2n){
					margin-right: 0;
				}
				&:nth-of-type(3n){
					margin-right: 20px;
				}
			}
		}
		.tj-title{
			font-size: 22px;
		}
	}
	@include breakpoint($interim-width-480){
		.t-container{
			.tj-item{
				margin-bottom: 20px;
				a,p{
					font-size: 16px;
					line-height: 1.2;
				}
				p.tj-icon{
					i{
						width: 35px;
						height: 42px;
					}
				}
			}
		}
		.tj-title{
			font-size: 20px;
			margin: 30px 0;
		}		
	}
	@include breakpoint($interim-width-375){
		.t-container{
			.tj-item{
				width: 90%;
			}
		}
	}
}

section.support{
	padding: 70px 0;
	background: #eee;
	.s-title{
		text-align: center;
		a{
			display: inline-block;
		}	
	}
	.sup-column{
		text-align: left;
		padding:0 30px;
	}
	.support-item{
		display:inline-block;
		width: 80%;
		margin-top: 50px;
		p.service-name{
			font-size: 25px;
			font-weight: 600;
		}
		p{
			font-size: 16px;
			line-height: 1.5;
		}
		.button{
			display:inline-block;
			width: 100%;
			padding: 20px 0;
			text-align: center;
			font-size: 26px;
			border-radius: 10px;
			color:#fff;
			margin-top: 15px;
			&.tlf{
				background: #666;
			}
			&.mail{
				background: $mainCol;
			}
		}
	}
	@include breakpoint($medium-width){
		.support-item{
			width: 100%;
			.button{
				font-size: 24px;
			}
		}
	}
	@include breakpoint($tablet-width){
		.support-item{
			.button{
				font-size: 21px;
			}
			p{
				min-height:96px;
			}
			p.service-name{
				font-size: 23px;
				min-height:1px;
			}
		}
		.sup-column{
			padding: 0 15px;
		}		
	}
	@include breakpoint($interim-width-650){
		.support-item{
			.button{
				font-size: 18px;
			}
			p{
				font-size: 16px;
				line-height: 1.2;
			}
			p.service-name{
				font-size: 21px;
				min-height:1px;
			}		
		}
	}
	@include breakpoint($interim-width-480){
		padding: 50px 0;
		.sup-column{
			width: 100%;
		}
		.support-item{
			margin-top: 30px;
			p{
				min-height:1px;
			}
			p.service-name{
				text-align: center;
			}
		}
		.s-title{
			a{
				width: 170px;
				img{
					width: 100%;
					height:auto;
				}
			}
		}
	}
}

footer{
	padding: 40px 0;
	.foot-column{
		h4{
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 30px;
		}
		p{
			font-size: 16px;
			margin-bottom: 20px;
			color:$greyCol;
			b{
				font-weight: 600;
			}
		}
		a{
			color:$greyCol;
			font-size: 16px;
			&:hover{
				color:#333;
			}
		}
		ul.social{
			li{
				display:inline-block;
				margin-right: 10px;
				a{
					font-size: 50px;
					color:#000;
					transition:.3s;
					&:hover{
						color:$mainCol;
					}
				}
			}
		}
	}
	@include breakpoint($tablet-width){
		.foot-column{
			ul.social{
				li{
					a{
						font-size: 30px;
					}
				}
			}			
		}
	}
	@include breakpoint($interim-width-480){
		padding: 10px 0 20px 0;
		.foot-column{
			width: 100%;
			h4{
				margin-bottom: 10px;
				margin-top: 20px;
			}
			p{
				margin-bottom: 10px;
				font-size: 14px;
			}
		}
	}
}

section.f-baner{
	background: $mainCol;
	height: 50px;
	p{
		line-height: 50px;
		font-size: 16px;
		color:#fff;
		text-align: center;
	}
}


/*OM OSS*/

section.fullw-baner{
	margin-top: 100px;
	.img-container{
		width: 100%;
		height:755px;
		// background: url('../img/slide-2.jpg') no-repeat;
		background-size: cover;
	}
	@include breakpoint($tablet-width){
		.img-container{
			height: 545px;
		}
	}
	@include breakpoint($interim-width-480){
		margin-top: 80px;
		.img-container{
			height: 450px;
		}
	}
}

section.st-content{
	padding: 40px 0;
	.content-title{
		font-size: 36px;
		text-align: center;
		margin: 0 0 40px 0;
	}
	.content-subtitle{
		font-size: 24px;
		line-height: 1.5;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.content-text{
		font-size: 16px;
		line-height: 1.5;
	}
	@include breakpoint($tablet-width){
		.content-subtitle{
			font-size: 22px;
			line-height: 1.2;
		}
	}
	@include breakpoint($interim-width-480){
		.content-title{
			font-size: 30px;
			margin: 30px 0;
		}
		.content-subtitle{
			font-size: 19px;
		}
	}
}

.youtube-wrapper{
	margin-top: 20px;
	.modal-button{
		display: block;
		width: 480px;
		height: 270px;
		overflow: hidden;
		float:right;
		margin: 0 0 20px 20px;
		cursor:pointer;
		img{
			width: 100%;
			height:auto;
		}
	}
	.modal-header{
		padding: 0;
		border:none;
		.close{
			margin: 5px;
		}
	}
	@include breakpoint($tablet-width){
		.modal-button{
			width: 400px;
			height: 225px;
		}
	}
	@include breakpoint($interim-width-480){
		.modal-button{
			width: 95%;
			height: 185px;
			margin: 20px auto;
			float:none;
		}
	}
}

section.location{
	.gmap{
		width: 100%;
		height: 410px;
	}
	@include breakpoint($interim-width-480){
		.gmap{
			height: 300px;
		}
	}
}
/*end OM OSS*/

/*SUPPORT*/
.boxes{
	margin: 50px 0 20px 0;
	.box-item{
		display:inline-block;
		width: 30%;
		margin-right: 20px;
		vertical-align: top;
		margin-bottom: 40px;
		&:nth-of-type(3n){
			margin-right: 0;
		}
		.icon-cont{
			display: block;
			float: left;
			width: 54px;
			height: 59px;
			background: url('../img/box-icon-1.png') no-repeat;
			background-size: cover;
			margin-right: 10px;
		}
		.title-cont{
			float: left;
			p,a{
				font-size: 16px;
				line-height: 1.2;
			}
			a{
				transition:.3s;
				&:hover{
					color:$greyCol;
					text-decoration:underline;
				}
			}
			.b-heading{
				font-weight: 600;
			}
		}
	}
	@include breakpoint($tablet-width){
		.box-item{
			width: 46%;
			&:nth-of-type(3n){
				margin-right: 20px;
			}
			&:nth-of-type(2n){
				margin-right: 0;
			}
		}
	}
	@include breakpoint($interim-width-520){
		.box-item{
			.icon-cont{
				width: 45px;
				height: 49px;
			}
		}
	}
	@include breakpoint($interim-width-520){
		.box-item{
			width:100%;
			margin-right: 0;
			.title-cont{
				p,a{
					font-size: 14px;
				}
			}			
		}

	}
}

section.contact-form{
	background: url('../img/contact-bg.jpg') no-repeat;
	background-size: cover;
	color:#fff;
	.overlay{
		background-color: rgba(0,0,0,.8);
		padding: 50px 0;
	}
	form{
		width: 80%;
		margin: 0 auto;
	}
	p{
		font-size: 20px;
		text-transform: uppercase;
		color:#fff;
		margin-bottom: 30px;
		font-weight: 700;
	}
	textarea{
		width: 100%;
		background: transparent;
		border: 1px solid #fff;
		height: 150px;
		padding: 10px 0 0 15px;
		font-size: 14px;
	}
	span{
		display:inline-block;
		width: 48%;
		margin-bottom: 20px;
		&:nth-of-type(1){
			margin-right: 32px;
		}
	}
	input{
		width: 100%;
		background: transparent;
		border: 1px solid #fff;
		height: 35px;
		padding: 5px 0 0 15px;
		font-size: 14px;
	}
	label{
		font-size: 16px;
		text-transform: uppercase;
		color:#fff;
		margin-bottom: 10px;
	}
	input.send-button{
		display: block;
		font-size: 19px;
		width: 90px;
		height: 90px;
		margin:40px auto;
		text-align: center;
		font-weight: 700;
		color: #000;
		border: 2px solid #fff;
		border-radius: 100%;
		background-color: #fff;
		transition: .3s all ease-in;
		text-transform: uppercase;
		padding: 0;
		&:hover{
			color: #fff;
			background-color: transparent;
		}
	}
	@include breakpoint($large-width){
		span{
			&:nth-of-type(1){
				margin-right: 25px;
			}		
		}
	}
	@include breakpoint($medium-width){
		form{
			width: 100%;
		}
	}
	@include breakpoint($tablet-width){
		form{
			width: 480px;
		}
		span{
			&:nth-of-type(1){
				margin-right: 15px;
			}		
		}		
	}
	@include breakpoint($interim-width-520){
		form{
			width: 100%;
		}
		span{
			width: 100%;
		}
		input.send-button{
			width: 80px;
			height: 80px;
		}
	}
}

/*Quote page*/
.blockquote{
	padding: 30px 0 70px 0;
	background: #eee;
	.bl-img{
		display: block;
		width: 96px;
		height: 72px;
		margin: 30px auto;
		background: url('../img/quote.png') no-repeat;
		background-size: cover;
	}
	p{
		font-size: 22px;
		line-height: 1.8;
		text-align: center;
	}
	@include breakpoint($interim-width-480){
		p{
			line-height: 1.3;
			font-size: 20px;
		}
		.bl-img{
			width: 70px;
			height: 52px;
		}
	}
}



